@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply min-w-[320px] antialiased bg-brand-deep-purple;
  }
  button {
    @apply px-4 py-2 border-2;
  }
  .heading-lg {
    @apply !m-0 text-center !text-4xl sm:!text-7xl tracking-widest !leading-10 sm:!leading-[6rem];
  }
  .heading-md {
    @apply !m-0 text-center !text-3xl sm:!text-5xl tracking-widest;
  }
  .heading-sm {
    @apply !m-0 text-center !text-2xl sm:!text-3xl tracking-widest;
  }
  .us-isomorphic {
    transform: rotateX(18deg) rotateY(340deg) rotateZ(6deg);
  }
  .eu-isomorphic {
    transform: rotateX(20deg) rotateY(14deg) rotateZ(354deg);
  }
  .table-scale-inactive {
    @apply xl:scale-100 brightness-90;
  }
  .table-scale-active {
    @apply xl:scale-110 brightness-90 !bg-depth-3;
  }
  .table-scale-active.global {
    @apply relative xl:scale-125 brightness-100 shadow-2xl z-10;
  }
  .table-blur-inactive {
    filter: blur(3px);
  }
  .table-blur-active {
    @apply blur-none;
  }
}
