@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply min-w-[320px] antialiased bg-brand-deep-purple;
  }
  .link-button {
    @apply px-2 py-2 sm:px-4 sm:py-2 border-2 text-sm sm:text-base;
  }
  .link-button > svg {
    @apply w-4 h-5 sm:w-5 sm:h-5;
  }
  .heading-lg {
    @apply !m-0 text-center !text-4xl sm:!text-7xl;
  }
  .heading-md {
    @apply !m-0 text-center !text-3xl sm:!text-5xl;
  }
  .heading-sm {
    @apply !m-0 text-center !text-2xl sm:!text-4xl;
  }
  .table-scale-inactive {
    @apply xl:scale-100 brightness-90 !bg-depth-2;
  }
  .table-scale-active {
    @apply xl:scale-105 brightness-90 !bg-depth-3 z-10;
  }
  .table-scale-active.global {
    @apply relative xl:scale-105 brightness-100 shadow-2xl z-0;
  }
  .table-blur-inactive {
    filter: blur(3px);
  }
  .table-blur-active {
    @apply blur-none;
  }

  .art-shadow {
    filter: drop-shadow(10px 5px 10px rgb(0 0 0 / 0.8));
  }
}
